.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 60px;
    padding: 5%; 
}

.SOE 
{
  text-shadow: 
    1px 1px 0 #43372d, 
   -1px 1px 0 #e3ab6a5d,  
    1px -1px 0 #f5dabe, 
   -1px -1px 0 #d6be88b7; 
  font-size: 3.5vw;
  padding-top: 5px;
  padding-left: 400px;
  color: #d2c389de;
  opacity: 0.6;
  font-weight: 500;
  font-style: italic;  
  font-family: 'IBM Plex Mono', monospace; 
  text-align: right;
  position: absolute;
    right: 20%;
    top: 30%;
}

h1 {
  color: hsla(48, 45%, 68%, 0.87);
  opacity: 0.6;
  font-size: 4vw; 
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: 
    1px 1px 0 #43372d, 
   -1px 1px 0 #e3ab6a5d,  
    1px -1px 0 #f5dabe, 
   -1px -1px 0 #d6be88b7; 
  position: absolute;
    top: 22%;
    left:15%;
   padding-left: 100px;
}


.logo{
  position: absolute;
    top: 38%;
    left: 35%;
  opacity: .6;
}

.copyright{
  position: absolute;
    top:95%;
    right:85%;
  color:hsla(48, 45%, 68%, 0.87);
  opacity: .6;
}