<!DOCTYPE html>
<html lang="en">
    
        <head>
		<meta charset="utf-8">
		<title>Our Mission</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	</head>
	<div class="navbar">
		<a href="about.html">About</a>
		<div class="dropdown">
			<button class="dropbtn">Sustainability 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="mission.html">Our Mission</a>
				<a href="process.html">Our Process</a>
			</div>
		</div>
		<a href="rewards.html">Rewards</a>
		<div class="dropdown">
			<button class="dropbtn">Menu 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="menu.html#Appetizers">Appetizers</a>
				<a href="menu.html#Entrees">Entrees</a>
				<a href="menu.html#Desserts">Desserts</a>
				<a href="menu.html#Drinks">Drinks</a>
			</div>
		</div>
        <b class="active" href="index.html">Home</b>
    </div>

    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    body{
        background-image: url("https://35photo.pro/photos_main/386/1933730.jpg");
    }


    .rewardSU{
        text-align: center;
        padding-top: 12%;
        font-size: 32px;
        color: hsla(48, 25%, 69%, 0.87);
        opacity: .95;
    }

    .signupbtn{
        width: auto;
        font-size: small;
        padding: 10px 18px;
    }

    /* Set a style for all buttons */
    button {
    background-color: hsla(48, 25%, 69%, 0.87);
    color: rgba(93, 89, 82, 0.651);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150%;
    opacity: 1 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    }

    button:hover {
    opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #e4837c;
    color:#4a2828;
    }

    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    }

    img.avatar {
    width: 40%;
    border-radius: 50%;
    }

    .container {
    padding: 16px;
    }

    span.psw {
    float: right;
    padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 100;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    text-align: left;
    }

    .modal2{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 100;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
        text-align: left;
        }

    /* Modal Content/Box */
    .modal-content {
    background-color: #ffffff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: rgb(248, 150, 150);
    cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    }
