    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    body{
        background-image: url("https://35photo.pro/photos_main/386/1933730.jpg");
    }


   /* Navbar container */
   .navbar {
    overflow: hidden;
    color: hsla(48, 45%, 68%, 0.87);
    font-family: scheherazade-new-regular;
   }
   /* Links inside the navbar */
   .navbar a {
    float: right;
    font-size: 18px;
    color: hsla(47, 81%, 77%, 0.713);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
   .navbar b {
    float: left;
    font-size: 18px;
    color: hsla(47, 81%, 77%, 0.713);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   /* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: hsla(47, 81%, 77%, 0.713);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a green background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn, .navbar b:hover {
    background-color: rgb(217, 193, 158);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9e6cb;
    opacity: .7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    font-size: 12 px;
    color: rgb(33, 29, 23);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(217, 193, 158);
  }

  .mission {
    font-family: scheherazade-new-regular;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
    .rewardSU{
        text-align: center;
        padding-top: 12%;
        font-size: 32px;
        color: hsla(48, 25%, 69%, 0.87);
        opacity: .95;
    }

    .signupbtn{
        width: auto;
        font-size: small;
        padding: 10px 18px;
    }

    /* Set a style for all buttons */
    button {
    background-color: hsla(48, 25%, 69%, 0.87);
    color: rgba(93, 89, 82, 0.651);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150%;
    opacity: 1 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    }

    button:hover {
    opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #e4837c;
    color:#4a2828;
    }

    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    }

    img.avatar {
    width: 40%;
    border-radius: 50%;
    }

    .container {
    padding: 16px;
    }

    span.psw {
    float: right;
    padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 100;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    text-align: left;
    }

    .modal2{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 100;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
        text-align: left;
        }

    /* Modal Content/Box */
    .modal-content {
    background-color: #ffffff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: rgb(248, 150, 150);
    cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    }
