    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    body{
        background-image: url("https://c.wallhere.com/photos/b5/9e/pond_forest_trees_nature-1034196.jpg!d");
    }

/* All Scheherazade Families!! */
.scheherazade-new-regular {
  font-family: "Scheherazade New", serif;
  font-weight: 400;
  font-style: normal;
 }
 .scheherazade-new-medium {
  font-family: "Scheherazade New", serif;
  font-weight: 500;
  font-style: normal;
 }
 .scheherazade-new-semibold {
  font-family: "Scheherazade New", serif;
  font-weight: 600;
  font-style: normal;
 }
 .scheherazade-new-bold {
  font-family: "Scheherazade New", serif;
  font-weight: 700;
  font-style: normal;
 }

.title{
  text-align: center;
  font-size: 30px;
  color: rgba(61, 86, 34, 0.341);
}

.text{
  font-weight: 100;
  padding: 20px;
  position: absolute; top: 200px;
  left: 1;
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-size: 28px;
  color:rgba(64, 95, 43, 0.575);
  background-color:rgb(211, 226, 200);
  border-radius:10px;
}

.image1{
  padding: 5px;
  float: right;
  width: 25%;
  position: absolute; top:253px; left:800px;
}
.image2{
  padding: 5px;
  float: right;
  width: 25%;
  position: absolute; top:950px; left:800px;
}
    .rewardSU{
        text-align: center;
        padding-top: 12%;
        font-size: 32px;
        color: hsla(48, 45%, 68%, 0.87);
        text-shadow: 
            1px 1px 0 #43372d, 
           -1px 1px 0 #e3ab6a5d,  
            1px -1px 0 #f5dabe, 
           -1px -1px 0 #d6be88b7; /* Creates a "border" illusion */
        opacity: .95;
        border: 1px #ffffff solid;
        position: absolute;
          top: 25%;
          left:32%;
          right: 32%;
          bottom: 25%;
        background: rgba(255, 255, 255, 0.912);
        border-radius: 5%;
    }

    .signupbtn{
        width: auto;
        font-size: small;
        padding: 10px 18px;
    }

    /* Set a style for all buttons */
    button {
    background-color: hsla(48, 25%, 69%, 0.87);
    color: rgba(93, 89, 82, 0.651);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150%;
    opacity: 1 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    }

    button:hover {
    opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #e4837c;
    color:#4a2828;
    }

    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    }

    img.avatar {
    width: 40%;
    border-radius: 50%;
    }

    .container {
    padding: 16px;
    }

    span.psw {
    float: right;
    padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    text-align: left;
    }

    .modal2{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
        text-align: left;
        }

    /* Modal Content/Box */
    .modal-content {
    background-color: #ffffff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: rgb(248, 150, 150);
    cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    }
