    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    body{
        background-image: url("https://35photo.pro/photos_main/386/1933730.jpg");
    }

/* All Scheherazade Families!! */
.scheherazade-new-regular {
  font-family: "Scheherazade New", serif;
  font-weight: 400;
  font-style: normal;
 }
 .scheherazade-new-medium {
  font-family: "Scheherazade New", serif;
  font-weight: 500;
  font-style: normal;
 }
 .scheherazade-new-semibold {
  font-family: "Scheherazade New", serif;
  font-weight: 600;
  font-style: normal;
 }
 .scheherazade-new-bold {
  font-family: "Scheherazade New", serif;
  font-weight: 700;
  font-style: normal;
 }
   /* Navbar container */
   .navbar {
    overflow: hidden;
    color: hsla(48, 45%, 68%, 0.87);
    font-family: scheherazade-new-regular;
   }
   /* Links inside the navbar */
   .navbar a {
    float: right;
    font-size: 18px;
    color: hsla(47, 81%, 77%, 0.713);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
   .navbar b {
    float: left;
    font-size: 18px;
    color: hsla(47, 81%, 77%, 0.713);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   /* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: hsla(47, 81%, 77%, 0.713);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a green background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn, .navbar b:hover {
    background-color: rgb(217, 193, 158);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9e6cb;
    opacity: .7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    font-size: 12 px;
    color: rgb(33, 29, 23);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(217, 193, 158);
  }

  .mission {
    font-family: scheherazade-new-regular;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*Mission CSS */
.sustainability {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: rgba(100, 157, 38, 0.343);
  border-style:double;
  border-width: 10px;
  border-color: rgba(74, 87, 65, 0.506);
  border-radius: 10px;
  background-image: url("sandcats87.jpeg");
}

.title{
  text-align: center;
  font-size: 30px;
  color: rgba(61, 86, 34, 0.341);
}

.text{
  font-weight: 100;
  padding: 20px;
  position: absolute; top: 200px;
  left: 1;
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-size: 28px;
  color:rgba(64, 95, 43, 0.575);
  background-color:rgb(211, 226, 200);
  border-radius:10px;
}

.image1{
  padding: 5px;
  float: right;
  width: 25%;
  position: absolute; top:253px; left:800px;
}
.image2{
  padding: 5px;
  float: right;
  width: 25%;
  position: absolute; top:950px; left:800px;
}

/* Edit these to match color scheme */
          .faq-section {
            font-family: 'Poppins', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: rgba(100, 157, 38, 0.343);
            border-radius: 8px;
            color:rgba(26, 82, 6, 0.792);
        }
        .faq-question {
            cursor: pointer;
            font-weight: bold;
            padding: 10px;
            border: 1px solid rgb(142, 165, 127);
            margin: 5px 0;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            color: rgba(26, 82, 6, 0.792);
        }
        .faq-question:hover {
            background-color: rgba(83, 145, 70, 0.462);
        }
        .faq-answer {
            padding: 10px;
            border-left: 3px solid rgba(0, 69, 0, 0.539);
            margin: 0 5px 10px;
            background-color: rgba(197, 213, 167, 0.708);
            border-radius: 0 5px 5px 5px;
        }
    .rewardSU{
        text-align: center;
        padding-top: 12%;
        font-size: 32px;
        color: hsla(48, 25%, 69%, 0.87);
        opacity: .95;
    }

    .signupbtn{
        width: auto;
        font-size: small;
        padding: 10px 18px;
    }

    /* Set a style for all buttons */
    button {
    background-color: hsla(48, 25%, 69%, 0.87);
    color: rgba(93, 89, 82, 0.651);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150%;
    opacity: 1 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    }

    button:hover {
    opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #e4837c;
    color:#4a2828;
    }

    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    }

    img.avatar {
    width: 40%;
    border-radius: 50%;
    }

    .container {
    padding: 16px;
    }

    span.psw {
    float: right;
    padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 100;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    text-align: left;
    }

    .modal2{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 100;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
        text-align: left;
        }

    /* Modal Content/Box */
    .modal-content {
    background-color: #ffffff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: rgb(248, 150, 150);
    cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    }

/* STYLE SECTIONING TAGS */
* { 
   margin: 0px;
   padding: 0px;
}


body {
  background-image: url("https://c.wallhere.com/photos/b5/9e/pond_forest_trees_nature-1034196.jpg!d");  
}

/*Heading One Taste the World*/
h1 {
  color: hsla(48, 45%, 68%, 0.87);
  opacity: 0.6;
  font-size: 58px;
  padding-top: 1em;
  font-family: 'IBM Plex Mono', monospace;
  text-align: left;
  position: absolute; right: 650px; top: 170px;
  text-shadow: 
    1px 1px 0 #43372d, 
   -1px 1px 0 #e3ab6a5d,  
    1px -1px 0 #f5dabe, 
   -1px -1px 0 #d6be88b7; /* Creates a "border" illusion */
}


/*Heading Two Savor our World*/
.subtitle{
  text-align: center;
  text-shadow: 
    1px 1px 0 #43372d, 
   -1px 1px 0 #e3ab6a5d,  
    1px -1px 0 #f5dabe, 
   -1px -1px 0 #d6be88b7; /* Creates a "border" illusion */
   font-size: 58px;
  padding-top: 20px;
  color: #d2c389de;
  position: absolute; left: 700px; top: 280px;
  opacity: 0.6;
  font-weight: 500;
  font-style: italic;  
  font-family: 'IBM Plex Mono', monospace;
}

.logo{
  position: absolute; top: 320px; right: 540px;
  text-align: center;
  opacity: 0.6;
}

img {
  text-align: center;
}


.gpt {
  max-width:20%;
  border-radius: 25%;
  text-align: center;
}




main {
  text-align: center;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 10%;
  margin-left: 10%;
}

  /* For the Nav bar! */
  .navbar {
    list-style-type: none;
    background-color: rgba(50, 40, 29, 0.486);  /* 50% opacity background */
    overflow: hidden;
    padding: 1em;
    text-align: right;
  }

li {
  display: inline;  
}
/*Nav bar Text Menu Rewards etc*/
  .navbar a {
    text-decoration: none;
    color: hsla(47, 81%, 77%, 0.713);
    font-size: 1.3em;
    padding: 1em;
    font-family: 'Playfair Display', serif;
    text-align: center; /* Center the text inside the link */
  }
.navbar a:hover {
  background-color: rgba(153, 140, 69, 0.484);
}

.copyright{
  position: absolute; top: 780px; left:20px;
}



.flex-container {      
  display: flex;       
  flex-direction: row; 
  flex-wrap: nowrap;   
} 

.flex-item {           
  flex-basis: 100%;    
  margin: 1%;          
}
